<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{welcomeMessage}}</p>
    <p>name : {{name}} </br> skills : {{skills}}</p>

    {{> footer}}
  </body>
</html>
